alembic==1.8.1
click==8.0.3
Flask==2.2.2
Flask_Babel==2.0.0
Flask_Bootstrap==3.3.7.1
Flask_Login==0.6.2
Flask_Mail==0.9.1
Flask_Migrate==3.1.0
Flask_Moment==1.0.5
flask_sqlalchemy==3.0.2
Flask_WTF==1.0.1
psycopg2-binary==2.9.4
PyJWT==2.6.0
python-dotenv==0.21.0
SQLAlchemy==1.4.42
waitress-serve==2.1.2
Werkzeug==2.2.2
WTForms==3.0.1
